
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&display=swap');
.title{
    font-family: 'Expletus Sans', cursive;
    text-decoration: none;
}
 
html, body{
    overflow-x: hidden;

}

body{
    overflow-y: hidden;
}



.hamburger {
    height: 24px;     
    fill: white;

}

.hero-image 
{
    height: 100vh;
}

.doctor_image{
    height: 150px;

}

.section{
    margin-top: 160px;
}

.doctor_card{
    cursor: pointer;
}

.tech_image{
    height: 50vh;
    width: 100%;
}